$color-normal: #555;

.card {
	border: none !important;
	.card-header {
		border-bottom: 0px;
	}
}

form {
	label {
		font-size: 14px;
		color: #555;
	}
	.cv {
		float: right;
		font-size: 12px;
		cursor: pointer;
	}
	small {
		color: $color-normal;
		font-size: 11px;
		margin-left: 3px;
	}
	span.error {
		color: #ff5f5b;
		font-size: 12px;
	}
	.form-control {
		height: 30px;
		font-size: 12px;
	}
}
